body{
    margin: 0;
    padding: 0;
    background-color: #48f;
}

h1{
    margin: 0;
}

h2{
    font-size: 40px;
}

header{
    width: 100%;
    height: 50dvh;
    background-image: url("../img/alimentos.jpg");
    background-size: cover;
    background-position: center;      
    display: flex;
    align-items: end;   
    justify-content: center;
}



/*-------------- BARRA HORIZONTAL -----------*/
.hor_nav{    
    width: 100%;
    height: 40px;      
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    position: sticky;
    top: 0;  
    background-color:#9dc4f6;
    box-shadow: 0 0 30px black;  
}

.hor_list{
    margin: 0;
    display: flex;
    gap: 5px;
    padding: 0;     
}

.hor_items{    
    list-style: none;
    border-radius: 20px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: .4s;
}

.hor_items a{     
    text-decoration: none; 
    color: #551A8B;   
}

.hor_items:hover{
    background-color: #48e;
    transition-property: background-color;
    transition-duration: .4s;
}

/*----------------------------------------*/

/* divs para ubicar cada juguete en la tienda */

main{
    display: flex; 
    flex-wrap: wrap;   
    align-items: center; 
    justify-content: center;    
}


/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container1{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto1{
    background-image: url("https://res.cloudinary.com/dxwwtymsv/image/upload/v1766411810/1_xrko00.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre1{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre1 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio1{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio1 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

