body{
    margin: 0;
    padding: 0;
    background-color: #48f;
}

h1{
    margin: 0;
}

h2{
    font-size: 40px;
}

header{
    width: 100%;
    height: 50dvh;
    background-image: url("../img/gym.jpg");
    background-size: cover;
    background-position: center;      
    display: flex;
    align-items: end;   
    justify-content: center;
}



/*-------------- BARRA HORIZONTAL -----------*/
.hor_nav{    
    width: 100%;
    height: 40px;      
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    position: sticky;
    top: 0;  
    background-color:#9dc4f6;
    box-shadow: 0 0 30px black;  
}

.hor_list{
    margin: 0;
    display: flex;
    gap: 5px;
    padding: 0;     
}

.hor_items{    
    list-style: none;
    border-radius: 20px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: .4s;
}

.hor_items a{     
    text-decoration: none; 
    color: #551A8B;   
}

.hor_items:hover{
    background-color: #48e;
    transition-property: background-color;
    transition-duration: .4s;
}

/*----------------------------------------*/

/* divs para ubicar cada juguete en la tienda */

main{
    display: flex; 
    flex-wrap: wrap;   
    align-items: center; 
    justify-content: center;    
}


/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container1{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto1{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355277/1_hzw0nm.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre1{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre1 h3{
    margin: auto;  
    font-size: 12px;  
}

.precio1{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio1 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container2{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto2{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355279/2_s60han.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre2{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre2 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio2{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio2 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container3{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto3{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355279/3_ovvbqg.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre3{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre3 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio3{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio3 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container4{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto4{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355278/4_zqjm0a.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre4{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre4 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio4{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio4 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container5{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto5{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355279/5_m6ww33.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre5{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre5 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio5{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio5 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container6{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto6{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355285/6_lnrzlv.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre6{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre6 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio6{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio6 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container7{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto7{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355280/7_eqhopd.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre7{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre7 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio7{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio7 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container8{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto8{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355283/8_e0zef6.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre8{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre8 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio8{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio8 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container9{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto9{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355283/9_he5sol.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre9{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre9 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio9{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio9 h3{
    margin: auto;      
}

/* ----------------------------------------------------- */

/* ESTO SE REPITE POR CADA ELEMENTO SOLO CAMBIAR EL NUMERO DE CADA ELEMENTO */
/* ------------------------------------------------ */

.container10{
    width: 300px;    
    height: 200px;
    background-color: #551A8B;
    box-shadow: 0 0 40px black;
    margin: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 3px; 
    border-radius: 10px; 
}

.foto10{
    background-image: url("https://res.cloudinary.com/dwwhx1yrq/image/upload/v1766355284/10_tbmb2t.jpg");
    background-size: cover;
    background-position: center; 
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.nombre10{
    background-color: aliceblue;
    text-align: center; 
    display: flex;
    border-radius: 0 10px 0 0;   
}

.nombre10 h3{
    margin: auto;  
    font-size: 14px;  
}

.precio10{
    background-color: aliceblue;
    text-align: center;
    display: flex;
    border-radius: 0 0 10px 0;
}

.precio10 h3{
    margin: auto;      
}


/* ----------------------------------------------------- */

